<div ng-controller="kompair.dashboardController">
  <div class="kompair-header">
    <div class="kompair-error-message" ng-if="vm.hasError">
      <div><strong><em>{{vm.errorMessage}}</em></strong></div>
    </div>
    <form class="form ng-pristine ng-valid" novalidate>
      <div class="umb-table">
        <div class="umb-table-head">
          <div class="umb-table-row">
            <div class="umb-table-cell flx-s1 flx-g1 flx-b5 not-fixed">
              Source Site
            </div>
            <div class="umb-table-cell flx-s1 flx-g1 flx-b5">
              Target Site
            </div>
            <div class="umb-table-cell flx-s1 flx-g1 flx-b2"></div>
          </div>
        </div>
        <div class="umb-table-body">
          <div class="umb-table-row">
            <div class="umb-table-cell flx-s1 flx-g1 flx-b5 not-fixed">
              {{vm.sourceSite}}
            </div>
            <div class="umb-table-cell flx-s1 flx-g1 flx-b5">
              <input type="text" class="kompair-text form-control ng-pristine ng-valid" ng-model="vm.targetSite"
                     placeholder="http://... or https://.." prevent-enter-submit no-dirty-check />
            </div>
            <div class="umb-table-cell flx-s1 flx-g1 flx-b2">
              <button type="button" class="umb-era-button umb-button--s -blue kompair-compare-button"
                      ng-click="compare()">
                Compare
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="kompair-panel">
    <h3>Document Type Comparison Results</h3>
    <div class="kompair-container">
      <div class="kompair-flex">
        <div>
          <h4>Source Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{documentType.MatchStatus}}"
                   ng-repeat="documentType in vm.results.SourceDocumentTypes | orderBy: Alias">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed" ng-click="scrollTo('source-' + documentType.Alias)">
                  <h4>{{documentType.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kompair-flex">
        <div>
          <h4>Target Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{documentType.MatchStatus}}"
                   ng-repeat="documentType in vm.results.TargetDocumentTypes | orderBy: Alias">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed" ng-click="scrollTo('target-' + documentType.Alias)">
                  <h4>{{documentType.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kompair-panel">
    <h3>Property Group Comparison Results</h3>
    <div class="kompair-container">
      <div class="kompair-flex">
        <div>
          <h4>Source Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Name
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{propertyGroup.MatchStatus}}"
                   ng-repeat="propertyGroup in vm.results.SourcePropertyGroups | orderBy: ['DocumentTypeAlias', 'Name']"
                   id="{{$index == 0 ? 'source-' + propertyGroup.DocumentTypeAlias : 'source-' + propertyGroup.Name}}">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed" ng-click="scrollTo('source-' + documentType.Alias + '.' + property.PropertyGroupName)">
                  <h4>{{propertyGroup.DocumentTypeAlias}}.{{propertyGroup.Name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kompair-flex">
        <div>
          <h4>Target Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Name
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{propertyGroup.MatchStatus}}"
                   ng-repeat="propertyGroup in vm.results.TargetPropertyGroups | orderBy: ['DocumentTypeAlias', 'Name']"
                   id="{{$index == 0 ? 'target-' + propertyGroup.DocumentTypeAlias : 'target-' + propertyGroup.Name}}">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed" ng-click="scrollTo('target-' + documentType.Alias + '.' + property.PropertyGroupName)">
                  <h4>{{propertyGroup.DocumentTypeAlias}}.{{propertyGroup.Name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kompair-panel">
    <h3>Property Comparison Results</h3>
    <div class="kompair-container">
      <div class="kompair-flex">
        <div>
          <h4>Source Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{property.MatchStatus}}"
                   ng-repeat="property in vm.results.SourceProperties | orderBy: ['DocumentTypeAlias', 'PropertyGroupName', 'Alias']"
                   id="{{$index == 0 ? 'source-' + propertyGroup.DocumentTypeAlias + '.' + property.PropertyGroupName : 'source-' + propertyGroup.Name}}">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  <h4>{{property.DocumentTypeAlias}}.{{property.PropertyGroupName}}.{{property.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kompair-flex">
        <div>
          <h4>Target Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{property.MatchStatus}}"
                   ng-repeat="property in vm.results.TargetProperties | orderBy: ['DocumentTypeAlias', 'PropertyGroupName', 'Alias']"
                   id="{{$index == 0 ? 'target-' + propertyGroup.DocumentTypeAlias + '.' + property.PropertyGroupName : 'target-' + propertyGroup.Name}}">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  <h4>{{property.DocumentTypeAlias}}.{{property.PropertyGroupName}}.{{property.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kompair-panel">
    <h3>Property Editor Comparison Results</h3>
    <div class="kompair-container">
      <div class="kompair-flex">
        <div>
          <h4>Source Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{propertyEditor.MatchStatus}}"
                   ng-repeat="propertyEditor in vm.results.SourcePropertyEditors | orderBy: propertyEditorOrderBy">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  <h4>{{propertyEditor.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kompair-flex">
        <div>
          <h4>Target Site</h4>
        </div>
        <div>
          <div class="umb-table">
            <div class="umb-table-head">
              <div class="umb-table-row">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  Alias
                </div>
              </div>
            </div>
            <div class="umb-table-body">
              <div class="umb-table-row kompair-row kompair-{{propertyEditor.MatchStatus}}"
                   ng-repeat="propertyEditor in vm.results.TargetPropertyEditors | orderBy: propertyEditorOrderBy">
                <div class="umb-table-cell flx-s1 flx-g1 flx-b12 not-fixed">
                  <h4>{{propertyEditor.Alias}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>