div.kompair-panel h3 {
	text-decoration: underline;
}

.kompair-None {
	background-color: #ff9999;
}

.kompair-Partial {
	background-color: #ffc299;
}

.kompair-Complete {
	background-color: #adebad;
}

.kompair-container{
	display: flex;
}
.kompair-flex {
	flex-grow: 1;
}

.kompair-text {
	width: 100%;
}